

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(24, 24, 24);
    font-family: sans-serif;
}


.stickwrap{
    height: 200vh;
}
.cover{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgb(10, 10, 10);
    z-index: 10;
    backdrop-filter: blur(1rem);
    box-shadow: rgba(0, 0, 0, 0.3) 0rem 1rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    --color: rgba(83, 83, 83, 0.158);
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title h1{
    padding-left: clamp(0.2rem, 1vw, 0.8rem);
    text-align: center;
    color: white;
    font-size: clamp(3rem, 6vw, 5rem);
    font-weight: 900;
    letter-spacing: clamp(0.2rem, 1vw, 0.8rem);
    border-bottom: red solid 0.5rem;
}
.title p{
    color: white;
    margin-block: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: clamp(0.2rem, 1vw, 0.3rem);
    font-weight: 700;
}



.header{
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(240, 255, 255, 0.1);
    z-index: 3;
    backdrop-filter: blur(1rem);
    mix-blend-mode: difference;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}
.logo img{
    height: 80%;
    filter: invert(100%);
}

.nav{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 2rem;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
}
details{
    position: relative;
}
details ul{
    position: absolute;
    margin-top: 1rem;
    background-color: rgba(107, 107, 107, 0.603);
    right: 0;
    backdrop-filter: blur(1rem);

    li{
        padding: 0.5rem;
        padding-inline: 2rem;
        white-space: nowrap;
    }
}
details ul li:hover{
    background-color: rgb(245, 245, 245);
    color: black;
}
.nav a{
    text-decoration: none;
    color: white;
}
summary::marker{
    display: none;
}







.page {
    height: 100vh;
    z-index: 2;
}





.page1{
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh;

    > *{
        width: 50%;
    }
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
.name h1{
    width: fit-content;
    font-size: clamp(5rem, 8vw, 7rem);
    white-space: nowrap;
    font-weight: 900;
}
.name p{
    width: fit-content;
    font-size: clamp(1rem, 2vw, 1.5rem);
    white-space: nowrap;
}
.namewrap{
    margin-left: 2rem;
}

.hero{
    display: flex;
    align-items: flex-end;
    margin-right: 2rem;
}
.hero img{
    width: 100%;
}


.act{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.tit{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: black solid 0.2rem;
    border-bottom: rgba(0, 0, 0, 0.3) solid 0.2rem;
}
.tit h2{
    margin-left: 2rem;
    padding-block: 1rem;
    font-weight: 900;
    font-size: clamp(1rem, 3vw, 2.5rem);
}
.conwrap{
    margin: 2rem;
    display: flex;
    overflow: hidden;
    /* max-width: 90%; */
}
.pics{
    max-width: 50%;
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pics img{
    max-height: 100%;
    max-width: 100%;
}
.desc{
    flex-grow: 1;
    margin-left: 1rem;
}
.desc h3{
    font-size: 2rem;
    font-weight: 800;
}
h3 span{
    font-weight: normal;
}
.desc p{
    margin-top: 2rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    text-align: justify;
}


.boxAct{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: #bedcf9;
}
.boxPic{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxPic img{
    max-width: 100%;
}
.boxTit{
    padding: 0.5rem;
    box-sizing: border-box;
}
.boxTit h4{
    font-size: 1rem;
}
.boxTit p{
    font-size: 0.8rem;
    font-weight: normal;
    margin-top: 0.5rem;
}

.conwrapAct2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.conwrapAct3{
    width: auto;
    aspect-ratio: 16/9;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
    /* grid-template-areas:
        "p p p p p p . s s s"
        "p p p p p p . s s s"
        "p p p p p p . s s s"
        ". . . . i i i i s s"
        ". . . . i i i i . ."
        ". . . . i i i i f f"
        ". . . . i i i i f f"; */

}
.conwrapAct3 > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fav{
    grid-area: 5 / 9 / 10 / 13;
}
.secondary{
    grid-area: 1 / 8 / 5 / 13;
}
.icon{
    grid-area: 4 / 6 / 10 / 9;
    z-index: 2;
}
.primary{
    grid-area: 1 / 1 / 5 / 8;
}
.wordmark{
    grid-area: 4 / 1 / 10 / 6;
}


.conwrapAct3 p{
    font-weight: 900;
}

.conwrapAct3 > * img{
    max-width: 100%;
    max-height: 100%;
}


.desc2{
    flex-grow: 1;
    margin-inline: 2rem;
}
.desc2 h3{
    font-size: 2rem;
    font-weight: 800;
}
h3 span{
    font-weight: normal;
}
.desc2 p{
    margin-top: 2rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    text-align: justify;
}



.logoDesign{
    background-color: #ffe6e1;
}
.AdvocacyPoster{
    background-color: #e1f7e2;
}
.colorScheme{
    background-color: #e2eefc;
}
.selfPortrait{
    background-color: #ffe7d4;
}







.conwrapPhoto{
    display: grid;
    width: auto;
    /* aspect-ratio: 1/1; */
    /* grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); */
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 100%;
    overflow: hidden;
}


.photos{
    height: 25rem;
    border: rgba(128, 0, 128, 0.2) solid 0.5rem;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    gap: 1rem;
    background-color: rgba(128, 0, 128, 0.2);
    box-sizing: border-box;
}
.photos img{
    min-width: 50%;
    height: 100%;
    object-fit: cover;
}
.photos p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    /* text-align: justify; */
    line-height: 1.2rem;
    font-size: 0.8rem;
}
.ddd{
    padding: 1rem;
}
.ddd h4{
    font-size: 1.5rem;
    font-weight: 700;
}
.conwrapStat{
    display: flex;
}


@media (max-width: 1100px){
    .conwrapPhoto{
        grid-template-columns: 1fr;
    }
    
}
@media (max-width: 1000px){
    .page1{
        flex-direction: column;
        > *{
            width: 100%;
        }
    }
    .name{
        height: 40%;
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }
    .hero{
        height: 60%;
        justify-content: center;
    }
    .hero img{
        max-height: 100%;
        width: auto;
        max-width: 100%;
    }

    .name h1{
        font-size: clamp(3rem, 8vw, 7rem);
    }
    .name p{
        font-size: clamp(0.7rem, 2vw, 1.5rem);
    }
    .namewrap{
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title p{
        color: white;
        margin-block: 1.5rem;
        font-size: 1rem;
        letter-spacing: clamp(0.2rem, 1vw, 0.3rem);
        font-weight: 700;
    }
    .conwrapStat{
        flex-direction: column;
    }
    .pics{
        max-width: 100%;
    }
    .pics img{
        width: 25rem;
    }
    .desc{
        margin-left: 0;
        margin-top: 1rem;
    }
    .desc p, .desc2 p{
        margin-top: 1rem;
        letter-spacing: 0;
        line-height: 1.5rem;
        text-align: justify;
        font-size: 0.9rem;
    }
    .desc h3, .desc2 h3{
        font-size: 1.5rem;
        font-weight: 800;
    }
}
@media (max-width: 550px){
    .desc p, .desc2 p{
        margin-top: 1rem;
        letter-spacing: 0;
        line-height: 1.3rem;
        text-align: justify;
        font-size: 0.9rem;
    }
}
@media (max-width: 600px){
    .photos{
        flex-direction: column;
        height: auto;
    }
    .conwrap{
        margin: 1rem;
    }
}